<ng-container *ngIf="loanDetailsNotFound === false">
    <div class="example-header">
        <mat-form-field>
            <input lable="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="loanDetails" matSort class="mat-elevation-z8" [style.width.px]="clientWidth">
            <!-- get user details -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let row" matTooltip="click here to see detail page" (click)="getClickData(row)">
                    <mat-icon>details</mat-icon>
                </mat-cell>
            </ng-container>
            <!-- member_id -->
            <ng-container matColumnDef="member_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Member Id</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.member_id}}</mat-cell>
            </ng-container>
            <!-- loan_amnt -->
            <ng-container matColumnDef="loan_amnt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Loan amount</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.loan_amnt}}</mat-cell>
            </ng-container>
            <!-- funded_amnt_inv -->
            <ng-container matColumnDef="funded_amnt_inv">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Funded Amount Inv.</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.funded_amnt_inv}}</mat-cell>
            </ng-container>
            <!-- term -->
            <ng-container matColumnDef="term">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Term</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.term}}</mat-cell>
            </ng-container>
            <!-- int_rate -->
            <ng-container matColumnDef="int_rate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Int. Rate</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.int_rate}}</mat-cell>
            </ng-container>
            <!-- installment-->
            <ng-container matColumnDef="installment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Installment</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.installment}}</mat-cell>
            </ng-container>
            <!--grade-->
            <ng-container matColumnDef="grade">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.grade}}</mat-cell>
            </ng-container>
            <!--emp_title-->
            <ng-container matColumnDef="emp_title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Emp. Title</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.emp_title}}</mat-cell>
            </ng-container>
            <!--emp_length-->
            <ng-container matColumnDef="emp_length">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Emp. Length</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.emp_length}}</mat-cell>
            </ng-container>
            <!--home_ownership-->
            <ng-container matColumnDef="home_ownership">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Home Ownership</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.home_ownership}}</mat-cell>
            </ng-container>
            <!--annual_inc-->
            <ng-container matColumnDef="annual_inc">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Annual Inc.</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.annual_inc}}</mat-cell>
            </ng-container>
            <!--emp_title-->
            <ng-container matColumnDef="verification_status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Verification Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.verification_status}}</mat-cell>
            </ng-container>
            <!--issue_d-->
            <ng-container matColumnDef="issue_d">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Issue_d</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.issue_d}}</mat-cell>
            </ng-container>
            <!--loan_status-->
            <ng-container matColumnDef="loan_status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.loan_status}}</mat-cell>
            </ng-container>

            <!--desc-->
            <ng-container matColumnDef="desc">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Desc</mat-header-cell>
                <mat-cell class="desc" *matCellDef="let row"> {{row?.desc}}</mat-cell>
            </ng-container>
            <!--purpose-->
            <ng-container matColumnDef="purpose">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Purpose</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.purpose}}</mat-cell>
            </ng-container>
            <!--title-->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.title}}</mat-cell>
            </ng-container>
            <!--addr_state-->
            <ng-container matColumnDef="addr_state">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address State</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.addr_state}}</mat-cell>
            </ng-container>
            <!--last_pymnt_d-->
            <ng-container matColumnDef="last_pymnt_d">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Payment date</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.last_pymnt_d}}</mat-cell>
            </ng-container>
            <!--last_pymnt_amnt-->
            <ng-container matColumnDef="last_pymnt_amnt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last payment Amount</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.last_pymnt_amnt}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
            <!--                  <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>-->
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [pageSize]="5"
                       [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </div>

    <mat-divider></mat-divider>

    <!--    top 10 verified customers-->
    <mat-card class="example-card">
        <mat-card-header>Top 10 verified customers
        </mat-card-header>
        <mat-card-content>
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="top_verfied_customers" matSort class="mat-elevation-z8"
                           [style.width.px]="clientWidth">
                    <!-- get user details -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                        <mat-cell *matCellDef="let row" matTooltip="click here to see detail page"
                                  (click)="getClickData(row)">
                            <mat-icon>details</mat-icon>
                        </mat-cell>
                    </ng-container>
                    <!-- member_id -->
                    <ng-container matColumnDef="member_id">
                        <mat-header-cell *matHeaderCellDef>Member Id</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.member_id}}</mat-cell>
                    </ng-container>
                    <!-- loan_amnt -->
                    <ng-container matColumnDef="loan_amnt">
                        <mat-header-cell *matHeaderCellDef>Loan amount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.loan_amnt}}</mat-cell>
                    </ng-container>
                    <!-- funded_amnt_inv -->
                    <ng-container matColumnDef="funded_amnt_inv">
                        <mat-header-cell *matHeaderCellDef>Funded Amount Inv.</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.funded_amnt_inv}}</mat-cell>
                    </ng-container>
                    <!-- term -->
                    <ng-container matColumnDef="term">
                        <mat-header-cell *matHeaderCellDef>Term</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.term}}</mat-cell>
                    </ng-container>
                    <!-- int_rate -->
                    <ng-container matColumnDef="int_rate">
                        <mat-header-cell *matHeaderCellDef>Int. Rate</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.int_rate}}</mat-cell>
                    </ng-container>
                    <!-- installment-->
                    <ng-container matColumnDef="installment">
                        <mat-header-cell *matHeaderCellDef>Installment</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.installment}}</mat-cell>
                    </ng-container>
                    <!--grade-->
                    <ng-container matColumnDef="grade">
                        <mat-header-cell *matHeaderCellDef>Grade</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.grade}}</mat-cell>
                    </ng-container>
                    <!--emp_title-->
                    <ng-container matColumnDef="emp_title">
                        <mat-header-cell *matHeaderCellDef>Emp. Title</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.emp_title}}</mat-cell>
                    </ng-container>
                    <!--emp_length-->
                    <ng-container matColumnDef="emp_length">
                        <mat-header-cell *matHeaderCellDef>Emp. Length</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.emp_length}}</mat-cell>
                    </ng-container>
                    <!--home_ownership-->
                    <ng-container matColumnDef="home_ownership">
                        <mat-header-cell *matHeaderCellDef>Home Ownership</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.home_ownership}}</mat-cell>
                    </ng-container>
                    <!--annual_inc-->
                    <ng-container matColumnDef="annual_inc">
                        <mat-header-cell *matHeaderCellDef>Annual Inc.</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.annual_inc}}</mat-cell>
                    </ng-container>
                    <!--emp_title-->
                    <ng-container matColumnDef="verification_status">
                        <mat-header-cell *matHeaderCellDef>Verification Status</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.verification_status}}</mat-cell>
                    </ng-container>
                    <!--issue_d-->
                    <ng-container matColumnDef="issue_d">
                        <mat-header-cell *matHeaderCellDef>Issue_d</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.issue_d}}</mat-cell>
                    </ng-container>
                    <!--loan_status-->
                    <ng-container matColumnDef="loan_status">
                        <mat-header-cell *matHeaderCellDef>Loan Status</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.loan_status}}</mat-cell>
                    </ng-container>

                    <!--desc-->
                    <ng-container matColumnDef="desc">
                        <mat-header-cell *matHeaderCellDef>Desc</mat-header-cell>
                        <mat-cell class="desc" *matCellDef="let row"> {{row?.desc}}</mat-cell>
                    </ng-container>
                    <!--purpose-->
                    <ng-container matColumnDef="purpose">
                        <mat-header-cell *matHeaderCellDef>Purpose</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.purpose}}</mat-cell>
                    </ng-container>
                    <!--title-->
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.title}}</mat-cell>
                    </ng-container>
                    <!--addr_state-->
                    <ng-container matColumnDef="addr_state">
                        <mat-header-cell *matHeaderCellDef>Address State</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.addr_state}}</mat-cell>
                    </ng-container>
                    <!--last_pymnt_d-->
                    <ng-container matColumnDef="last_pymnt_d">
                        <mat-header-cell *matHeaderCellDef>Last Payment date</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.last_pymnt_d}}</mat-cell>
                    </ng-container>
                    <!--last_pymnt_amnt-->
                    <ng-container matColumnDef="last_pymnt_amnt">
                        <mat-header-cell *matHeaderCellDef>Last payment Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.last_pymnt_amnt}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <!--    top 10 not verified customers-->
    <mat-card class="example-card">
        <mat-card-header>Top 10 not verified customers
        </mat-card-header>
        <mat-card-content>
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="top_not_verfied_customers" matSort class="mat-elevation-z8"
                           [style.width.px]="clientWidth">
                    <!-- get user details -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                        <mat-cell *matCellDef="let row" matTooltip="click here to see detail page"
                                  (click)="getClickData(row)">
                            <mat-icon>details</mat-icon>
                        </mat-cell>
                    </ng-container>
                    <!-- member_id -->
                    <ng-container matColumnDef="member_id">
                        <mat-header-cell *matHeaderCellDef>Member Id</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.member_id}}</mat-cell>
                    </ng-container>
                    <!-- loan_amnt -->
                    <ng-container matColumnDef="loan_amnt">
                        <mat-header-cell *matHeaderCellDef>Loan amount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.loan_amnt}}</mat-cell>
                    </ng-container>
                    <!-- funded_amnt_inv -->
                    <ng-container matColumnDef="funded_amnt_inv">
                        <mat-header-cell *matHeaderCellDef>Funded Amount Inv.</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.funded_amnt_inv}}</mat-cell>
                    </ng-container>
                    <!-- term -->
                    <ng-container matColumnDef="term">
                        <mat-header-cell *matHeaderCellDef>Term</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.term}}</mat-cell>
                    </ng-container>
                    <!-- int_rate -->
                    <ng-container matColumnDef="int_rate">
                        <mat-header-cell *matHeaderCellDef>Int. Rate</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.int_rate}}</mat-cell>
                    </ng-container>
                    <!-- installment-->
                    <ng-container matColumnDef="installment">
                        <mat-header-cell *matHeaderCellDef>Installment</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.installment}}</mat-cell>
                    </ng-container>
                    <!--grade-->
                    <ng-container matColumnDef="grade">
                        <mat-header-cell *matHeaderCellDef>Grade</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.grade}}</mat-cell>
                    </ng-container>
                    <!--emp_title-->
                    <ng-container matColumnDef="emp_title">
                        <mat-header-cell *matHeaderCellDef>Emp. Title</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.emp_title}}</mat-cell>
                    </ng-container>
                    <!--emp_length-->
                    <ng-container matColumnDef="emp_length">
                        <mat-header-cell *matHeaderCellDef>Emp. Length</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.emp_length}}</mat-cell>
                    </ng-container>
                    <!--home_ownership-->
                    <ng-container matColumnDef="home_ownership">
                        <mat-header-cell *matHeaderCellDef>Home Ownership</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.home_ownership}}</mat-cell>
                    </ng-container>
                    <!--annual_inc-->
                    <ng-container matColumnDef="annual_inc">
                        <mat-header-cell *matHeaderCellDef>Annual Inc.</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.annual_inc}}</mat-cell>
                    </ng-container>
                    <!--emp_title-->
                    <ng-container matColumnDef="verification_status">
                        <mat-header-cell *matHeaderCellDef>Verification Status</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.verification_status}}</mat-cell>
                    </ng-container>
                    <!--issue_d-->
                    <ng-container matColumnDef="issue_d">
                        <mat-header-cell *matHeaderCellDef>Issue_d</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.issue_d}}</mat-cell>
                    </ng-container>
                    <!--loan_status-->
                    <ng-container matColumnDef="loan_status">
                        <mat-header-cell *matHeaderCellDef>Loan Status</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.loan_status}}</mat-cell>
                    </ng-container>

                    <!--desc-->
                    <ng-container matColumnDef="desc">
                        <mat-header-cell *matHeaderCellDef>Desc</mat-header-cell>
                        <mat-cell class="desc" *matCellDef="let row"> {{row?.desc}}</mat-cell>
                    </ng-container>
                    <!--purpose-->
                    <ng-container matColumnDef="purpose">
                        <mat-header-cell *matHeaderCellDef>Purpose</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.purpose}}</mat-cell>
                    </ng-container>
                    <!--title-->
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.title}}</mat-cell>
                    </ng-container>
                    <!--addr_state-->
                    <ng-container matColumnDef="addr_state">
                        <mat-header-cell *matHeaderCellDef>Address State</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.addr_state}}</mat-cell>
                    </ng-container>
                    <!--last_pymnt_d-->
                    <ng-container matColumnDef="last_pymnt_d">
                        <mat-header-cell *matHeaderCellDef>Last Payment date</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.last_pymnt_d}}</mat-cell>
                    </ng-container>
                    <!--last_pymnt_amnt-->
                    <ng-container matColumnDef="last_pymnt_amnt">
                        <mat-header-cell *matHeaderCellDef>Last payment Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.last_pymnt_amnt}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="selectedUser" *ngIf="selectedUserBool == true">
        <mat-divider></mat-divider>
        <mat-card class="example-card">
            <mat-card-header>Selected User Details
            </mat-card-header>
            <mat-card-content>
                <table id="customers">
                    <tr>
                        <td>Selected User</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Member Id</td>
                        <td>{{selectedUser?.member_id}}</td>
                    </tr>
                    <tr>
                        <td>Loan amount</td>
                        <td>{{selectedUser?.loan_amnt}}</td>
                    </tr>
                    <tr>
                        <td>Funded Amount Inv.</td>
                        <td>{{selectedUser?.funded_amnt_inv}}</td>
                    </tr>
                    <tr>
                        <td>Term</td>
                        <td>{{selectedUser?.term}}</td>
                    </tr>
                    <tr>
                        <td>Loan amount</td>
                        <td>{{selectedUser?.loan_amnt}}</td>
                    </tr>
                    <tr>
                        <td>Int. Rate</td>
                        <td>{{selectedUser?.int_rate}}</td>
                    </tr>
                    <tr>
                        <td>Installment</td>
                        <td>{{selectedUser?.installment}}</td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td>{{selectedUser?.grade}}</td>
                    </tr>
                    <tr>
                        <td>Emp. Title</td>
                        <td>{{selectedUser?.emp_title}}</td>
                    </tr>
                    <tr>
                        <td>Emp. Length</td>
                        <td>{{selectedUser?.emp_length}}</td>
                    </tr>
                    <tr>
                        <td>Home Ownership</td>
                        <td>{{selectedUser?.home_ownership}}</td>
                    </tr>
                    <tr>
                        <td> Annual Inc.</td>
                        <td>{{selectedUser?.annual_inc}}</td>
                    </tr>
                    <tr>
                        <td>Annual Inc.</td>
                        <td>{{selectedUser?.verification_status}}</td>
                    </tr>
                    <tr>
                        <td>Issue_d</td>
                        <td>{{selectedUser?.issue_d}}</td>
                    </tr>
                    <tr>
                        <td>Loan Status</td>
                        <td>{{selectedUser?.loan_status}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{selectedUser?.desc}}</td>
                    </tr>
                    <tr>
                        <td>Purpose</td>
                        <td>{{selectedUser?.purpose}}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>{{selectedUser?.title}}</td>
                    </tr>
                    <tr>
                        <td>Address State</td>
                        <td>{{selectedUser?.addr_state}}</td>
                    </tr>
                    <tr>
                        <td>Last payment Date</td>
                        <td>{{selectedUser?.last_pymnt_d}}</td>
                    </tr>
                    <tr>
                        <td>Last payment Amount</td>
                        <td>{{selectedUser?.last_pymnt_amnt}}</td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>

        <!--  <mat-card class="example-card">
              <mat-card-header>Selected User
              </mat-card-header>
              <mat-card-content>
                  <mat-grid-list cols="2" rowHeight="2:1">
                      <mat-grid-tile>
                          <mat-list>
                              <mat-list-item>
                                  Member Id - {{selectedUser?.member_id}}
                              </mat-list-item>
                              <mat-list-item>
                                  Loan amount - {{selectedUser?.loan_amnt}}
                              </mat-list-item>
                              <mat-list-item>
                                  Funded Amount Inv. - {{selectedUser?.funded_amnt_inv}}
                              </mat-list-item>
                              <mat-list-item>
                                  Term - {{selectedUser?.term}}
                              </mat-list-item>
                              <mat-list-item>
                                  Int. Rate - {{selectedUser?.int_rate}}
                              </mat-list-item>

                          </mat-list>
                      </mat-grid-tile>
                      <mat-grid-tile>
                          <mat-list>
                              <mat-list-item>
                                  Installment - {{selectedUser?.installment}}
                              </mat-list-item>
                              <mat-list-item>
                                  Grade - {{selectedUser?.grade}}
                              </mat-list-item>
                              <mat-list-item>
                                  Emp. Title - {{selectedUser?.emp_title}}
                              </mat-list-item>
                              <mat-list-item>
                                  Emp. Length - {{selectedUser?.emp_length}}
                              </mat-list-item>
                              <mat-list-item>
                                  Home Ownership - {{selectedUser?.home_ownership}}
                              </mat-list-item>

                          </mat-list>
                      </mat-grid-tile>
                      <mat-grid-tile>
                          <mat-list>
                              <mat-list-item>
                                  Annual Inc. - {{selectedUser?.annual_inc}}
                              </mat-list-item>
                              <mat-list-item>
                                  Verification Status - {{selectedUser?.verification_status}}
                              </mat-list-item>
                              <mat-list-item>
                                  Issue_d - {{selectedUser?.issue_d}}
                              </mat-list-item>
                              <mat-list-item>
                                  Loan Status - {{selectedUser?.loan_status}}
                              </mat-list-item>
                              <mat-list-item>
                                  Description - {{selectedUser?.desc}}
                              </mat-list-item>
                          </mat-list>
                      </mat-grid-tile>
                      <mat-grid-tile>
                          <mat-list>
                              <mat-list-item>
                                  Purpose - {{selectedUser?.purpose}}
                              </mat-list-item>
                              <mat-list-item>
                                  Title - {{selectedUser?.title}}
                              </mat-list-item>
                              <mat-list-item>
                                  Address State - {{selectedUser?.addr_state}}
                              </mat-list-item>
                              <mat-list-item>
                                  Last payment Date - {{selectedUser?.last_pymnt_d}}
                              </mat-list-item>
                              <mat-list-item>
                                  Last payment Amount - {{selectedUser?.last_pymnt_amnt}}
                              </mat-list-item>
                          </mat-list>
                      </mat-grid-tile>
                  </mat-grid-list>
              </mat-card-content>
          </mat-card>-->
    </div>
</ng-container>
<div *ngIf="loanDetailsNotFound === true" class="notFound">
    Data not found
</div>
